<!-- Workshop Part 3-->
<h2>My Recipes</h2>
<div>
  <label>Recipe name:
    <input #recipeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(recipeName.value); recipeName.value=''">
    Add
  </button>
</div>

<ul class="recipes">
  <li *ngFor="let recipe of recipes">
    <a routerLink="/detail/{{recipe.id}}">
      <span class="badge">{{recipe.id}}</span> {{recipe.name}}
    </a>
    <button class="delete" title="Delete recipe"
    (click)="delete(recipe)">X</button>
  
  </li>
  
</ul>


<!--<ul class="recipes">
  <li *ngFor="let recipe of recipes"
      [class.selected]="recipe === selectedRecipe"
      (click)="onSelect(recipe)">

      <span class="badge">{{recipe.id}}</span> {{recipe.name}}    
  </li>
</ul>

<app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>
-->

<!-- Workshop Part2 
  <h2>My Recipes</h2>
  <ul class="recipes">
  <li *ngFor="let recipe of recipes"
    [class.selected]="recipe === selectedRecipe"
    (click)="onSelect(recipe)">
    <span class="badge">{{recipe.id}}</span> {{recipe.name}}
  </li>
</ul>

<div *ngIf="selectedRecipe">

  <h2>{{selectedRecipe.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedRecipe.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedRecipe.name" placeholder="name"/>
    </label>
  </div>

</div>
-->

<!-- Workshop Part 1<p>recipes works!</p>
//{{recipe}} -->

<!-- <h2>{{recipe.name | uppercase }} Details</h2>
<div><span>id: </span>{{recipe.id}}</div>
<div><span>name: </span>{{recipe.name}}</div>
-->

<!-- <div>
    <label>Name of Recipe:
      <input [(ngModel)]='recipe.name' placeholder="name"/>
    </label>-->
    <!-- <h2>My Recipes</h2>
      <ul class="recipes">
        <li *ngFor="let recipe of recipes">
          <span class="badge">{{recipe.id}}</span> {{recipe.name}}
        </li>
      </ul>

  </div> -->
  